---
import BeritaItem from "../components/BeritaItem.astro";
import Carousel from "../components/carousel/Carousel.astro";
import { Icon } from "astro-icon/components";
import ListingSnapshot from "../components/ListingSnapshot.astro";
import Map from "../components/Map.astro";
import PengumumanItem from "../components/PengumumanItem.astro";
import Layout from "../layouts/Layout.astro";
import { getLatestBeritaItems } from "../services/berita";
import { getLatestPengumumanItems } from "../services/pengumuman";
import { getCarouselItems, getGalleryItems } from "../services/gallery";
import { Image } from "astro:assets";
import YoutubeSection from "../components/YoutubeSection.astro";

import logoBig from "../images/logo-big.png";
import ImagePanel from "../components/ImagePanel.astro";

const carouselItems = (await getCarouselItems()).items.map(it => ({
	imageUrl: it.image,
	description: "",
	active: true
}));

const pengumuman = await getLatestPengumumanItems();
const berita = await getLatestBeritaItems();

const apps = [
	{
		icon: "dashboard",
		label: "Dashboard",
		url: "http://aplikasi.bkd.nttprov.go.id/",
	},
	{
		icon: "assessment",
		label: "Assessment Center",
		url: "https://ac.bkd.nttprov.go.id/",
	},
	{
		icon: "people",
		label: "Simpeg",
		url: "http://aplikasi.bkd.nttprov.go.id/simpeg",
	},
	{
		icon: "app",
		label: "Sipora",
		url: "https://bkd.nttprov.go.id/web/laporan/",
	},
	{
		icon: "form",
		label: "Survey Kepuasan",
		url: "https://docs.google.com/forms/d/e/1FAIpQLSfpoi9QZAFGg-ha6q5xDAWwvMVYTl7O1e4dqBUJXocHFvpIQA/viewform",
	},
	{ icon: "device", label: "Gawai", url: "https://gawai.bkd.nttprov.go.id/" },
];

const gallerySnapshoot = await getGalleryItems(12);
---

<style>
	@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

	.cookie-regular {
		font-family: "Cookie", cursive;
		font-weight: 800;
		font-style: normal;
	}
</style>

<Layout>
	
	<div 
		class="w-full mt-20 md:mt-0 h-48 md:h-96 overflow-hidden bg-cover bg-fixed bg-bottom flex relative"
	>
		<div class="z-30 absolute inset-0 bg-primary-900"></div>
		<div class="Container absolute inset-0 z-40 px-4 lg:px-0 flex items-center justify-between h-full">
			<h1 class="px-0 md:px-0 font-mono text-lg md:text-4xl lg:text-6xl text-start font-bold text-accent-100 border-b-8 pb-4 border-accent-300">Website Resmi<br/>Badan Kepegawaian Daerah<br/>Provinsi Nusa Tenggara Timur</h1>
			<Image
				src={logoBig}
				alt="carousel 1"
				class="w-auto h-20 md:h-48"
			/>
		</div>
	</div>

	<div>
		<ListingSnapshot
			iconName="announcement"
			title="Kilasan Pengumuman"
			totalItems={pengumuman.total}
			listingRef="/pengumuman"
		>
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-8">
				{
					pengumuman.items.map((item) => (
						<PengumumanItem
							date={item.date}
							id={item.id.toString()}
							title={item.title}
							creator={item.creator}
						/>
					))
				}
			</div>
			<div class="flex items-center justify-center">
				<a
					href="/pengumuman/1"
					class="px-6 py-2 bg-transparent border border-neutral-300 text-lg font-bold hover:shadow-lg dark:text-white"
					>Lihat Selengkapnya</a
				>
			</div>
		</ListingSnapshot>
	</div>

	<div class="Container">
		<ListingSnapshot
			iconName="announcement"
			title="Tentang Badan Kepegawaian Provinsi NTT"
			listingRef="/layanan"
		>
			<div
				class="w-full bg-accent-200 flex items-center justify-center flex-col text-primary-800 py-16"
			>
				<p
					class="font-mono text-3xl md:text-4xl font-bold text-center"
				>
					Melayani dengan Cerdas, Cepat, Bertanggung Jawab, Berintegritas, Tulus,
					dan Ikhlas
				</p>
			</div>
			<div class="text-base md:text-xl leading-6 md:leading-8 space-y-6">
				<p>
					Badan Kepegawaian Daerah Provinsi Nusa Tenggara Timur lahir sebagai
					konsekuensi pelaksanaan otonomi daerah dengan ditetapkannya
					Undang-Undang Nomor 32 tahun 2004 tentang Pemerintahan Daerah, dimana
					dalam salah satu pasalnya mengisyaratkan adanya kewenangan pelaksanaan
					manajemen kepegawaian daerah.
				</p>
				<p>
					Menindaklanjuti pelaksanaan otonomi daerah maka penataan organisasi
					perangkat daerah di lingkungan Pemerintah Provinsi Nusa Tenggara Timur
					yang menempatkan fungsi manajemen kepegawaian yang semula dilaksanakan
					oleh Biro Kepegawaian Daerah Sekretariat Daerah Provinsi Nusa Tenggara
					Timur, dialihkan menjadi lembaga tersendiri yang melaksanakan fungsi
					manajemen kepegawaian yaitu Badan Kepegawaian Daerah.
				</p>
			</div>
		</ListingSnapshot>
	</div>
	
	<div class="px-4 md:px-0 md:max-w-7xl mx-auto py-8 space-y-8 mt-20 md:mt-0">
		<Carousel
			items={carouselItems}
			time={10 * 1000}
			class="h-[500px] md:h-[600px]"
		/>
	</div>

	

	<!-- Daftar Layanan -->
	<div>
		<ListingSnapshot
			iconName="announcement"
			title="Daftar Layanan"
			listingRef="/layanan"
		>
			<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-2">
				{
					apps.map((app) => (
						<a
							href={app.url}
							target="_blank"
							class="group bg-neutral-100 h-48 md:h-64 py-8 w-full flex flex-col items-center justify-center gap-2"
							title={app.label}
						>
							<div class="grow grid items-center justify-center">
								<Icon
									name={app.icon}
									class="size-20 md:size-32 group-hover:text-primary-600"
								/>
							</div>
							<p class="font-black text-center underline group-hover:text-primary-600">
								{app.label}
							</p>
						</a>
					))
				}
			</div>
		</ListingSnapshot>
	</div>

	<!-- Sekilas Tentang BKD -->
	

	<YoutubeSection />

	<div class="">
		<ListingSnapshot
			iconName="news"
			title="Kilasan Berita"
			totalItems={berita.total}
			listingRef="/berita"
			class=""
		>
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-8">
				{
					berita.items.map((item) => (
						<BeritaItem
							date={item.date}
							id={item.id.toString()}
							title={item.title}
							creator={item.creator}
							image={item.image}
						/>
					))
				}
			</div>
			<div class="flex items-center justify-center">
				<a
					href="/berita/1"
					class="px-6 py-2 bg-transparent border border-neutral-300 text-lg font-bold hover:shadow-lg dark:text-white"
					>Lihat Selengkapnya</a
				>
			</div>
		</ListingSnapshot>
	</div>

	<div>
		<ListingSnapshot
			iconName="announcement"
			title="Daftar Foto"
			listingRef="/gallery"
		>
			<div class="grid grid-cols-2 md:grid-cols-4 gap-2">
				{
					gallerySnapshoot.items.map((item) => (
						<ImagePanel id={item.id} image={item.image} title={item.title} />
					))
				}
			</div>
			<div class="flex items-center justify-center py-8">
				<a
					href="/gallery/1"
					class="px-6 py-2 bg-transparent border border-neutral-300 text-lg font-bold hover:shadow-lg dark:text-white"
					>Lihat Selengkapnya</a
				>
			</div>
		</ListingSnapshot>
	</div>

	<Map />
</Layout>
