---
import Carousel from "../components/carousel/Carousel.astro";
import ListingSnapshot from "../components/ListingSnapshot.astro";
import PengumumanItem from "../components/PengumumanItem.astro";
import Layout from "../layouts/Layout.astro";
import { getLatestPengumumanItems } from "../services/pengumuman";

const carouselItems = [
	{
		url: "/foobar",
		active: false,
		title: "Aristop Solle",
		subtitle: "Istri Terbaik Sedunia, DW no 1",
		image: "/images/carousel-1.png",
	},
	{ imageUrl: "/images/carousel-1.jpg", active: false, description: "asa" },
	{ imageUrl: "/images/carousel-2.jpg", active: false, description: "asa" },
	{ imageUrl: "/images/carousel-3.jpg", active: false, description: "asa" },
];

const pengumuman = await getLatestPengumumanItems();

// type Props = {
// 	items: CarouselItem[];
// }

// const { items } = Astro.props;
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div>
		<Carousel
			items={carouselItems}
			time={10 * 1000}
			class="h-[calc(100vh-theme(space.24))]"
		/>
	</div>
	<div
		class="h-[calc(100vh-theme(space.24))] max-w-screen py-24 bg-neutral-100 dark:bg-black"
	>
		<div class="container h-full mx-auto flex items-center justify-center">
			<iframe
				class="w-full h-full"
				src="https://www.youtube.com/embed/VRPbg0zXj-c?si=1Uq68DrMb5MUHjfN"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen></iframe>
		</div>
	</div>
	<div class="dark">
		<ListingSnapshot
			iconName="announcement"
			title="Pengumuman"
			totalItems={pengumuman.total}
			listingRef="/pengumuman"
			class="bg-neutral-100 dark:bg-primary-600"
		>
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-8">
				{
					pengumuman.items.map((item) => (
						<PengumumanItem
							date={item.date}
							id={item.id.toString()}
							title={item.title}
							creator={item.creator}
						/>
					))
				}
			</div>
			<div class="flex items-center justify-center">
				<a
					href="/pengumuman"
					class="px-6 py-2 bg-transparent border border-neutral-300 text-lg font-bold hover:shadow-lg dark:text-white"
					>Lihat Selengkapnya</a
				>
			</div>
		</ListingSnapshot>
	</div>

	<!-- <ListingSnapshot
		iconName="news"
		title="Berita"
		totalItems={pengumuman.total}
		listingRef="/berita"
	>
		<div>
			
		</div>
	</ListingSnapshot> -->
	<div class="h-[600px]"></div>

	<div
		class="mapouter"
		style="position:relative; text-align:right; height:450px;"
	>
		<div
			class="gmap_canvas"
			style="overflow:hidden; background:none!important; width:100%; height:450px;"
		>
			<iframe
				width="100%"
				height="450px"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"
				src="https://www.google.com/maps/embed/v1/place?q=Statue%20Of%20Liberty&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
			></iframe>
		</div>
		<a
			href="https://norsumediagroup.com/embed-google-map-website-free"
			target="_blank"
			rel="noopener noreferrer"
			class="gme-generated-link">Embed Map on Website for Free</a
		>
		<style>
			.mapouter {
				position: relative;
				text-align: right;
			}
			.gmap_canvas {
				overflow: hidden;
				background: none !important;
			}
			.gmap_canvas iframe {
				width: 100%;
				height: 100%;
			}
			.mapouter a {
				display: block;
				font-size: 0.85em;
				text-align: center;
				padding: 5px 0;
				color: #6c757d;
				text-decoration: none;
			}
			.gme-generated-link {
				display: none !important;
			}
		</style>
	</div>
</Layout>
