---
import { Icon } from "astro-icon/components";
import { format } from 'date-fns';
import { id } from 'date-fns/locale';

type Props = {
  id: string;
  date: Date;
  title: string;
  creator: string;
  image: string;
}

const props = Astro.props;

const dayOfMonth = format(props.date, "dd", { locale: id })
const month = format(props.date, "MMMM", { locale: id })
const year = format(props.date, "yyyy", { locale: id })
const fullDate = format(props.date, "dd MMMM yyyy", { locale: id })
---

<a href={`/news/${props.id}`} class="group flex gap-8 items-center cursor-pointer dark:shadow-neutral-400 transition-all bg-white">
  <img src={props.image} class="size-24 shrink-0 flex flex-col" />

  <div class="flex flex-col justify-center gap-2">
    <div class="text-black font-black text-lg underline group-hover:text-primary-800 group-focus:text-primary-700 group-active:text-primary-500">
      {props.title}
    </div>
    <div class="flex gap-3 items-center">
      <div class="flex items-center gap-1">
        <Icon name="calendar" />
        <div class="text-sm">{fullDate}</div>
      </div>
      <div class="flex items-center gap-1">
        <Icon name="user" />
        <div class="text-sm">{props.creator}</div>
      </div>
      <div class="flex items-center gap-1">
        <Icon name="eye" />
        <div class="text-sm">400</div>
      </div>
    </div>
  </div>

</a>
