---
import { Icon } from "astro-icon/components";
import { format } from 'date-fns';
import { id } from 'date-fns/locale';

type Props = {
  id: string;
  date: Date;
  title: string;
  creator: string;
}

const props = Astro.props;

const dayOfMonth = format(props.date, "dd", { locale: id })
const month = format(props.date, "MMMM", { locale: id })
const year = format(props.date, "yyyy", { locale: id })
const fullDate = format(props.date, "dd MMMM yyyy", { locale: id })
---

<a href={`/pengumuman/${props.id}`} class="group flex gap-4 items-center cursor-pointer  bg-white opacity-50 hover:opacity-100 transition-all">
  <div class="w-28 h-24 shrink-0 flex flex-col">
    <div
      class="grow bg-neutral-100 py-4 flex flex-col items-center justify-center"
    >
      <p class="text-accent-400 font-bold text-2xl">{dayOfMonth}</p>
      <p class="uppercase text-xs">{month} {year}</p>
    </div>
  </div>

  <div class="flex flex-col justify-center gap-2">
    <div class="text-black text-lg underline group-hover:text-primary-600 group-focus:text-primary-600 group-active:text-primary-500 line-clamp-3">
      {props.title}
    </div>
  </div>

</a>
