---
import PinnedInfo, { type PinnedInfoProps } from "../components/PinnedInfo.astro";

type Props = {
  items: PinnedInfoProps[];
}

const props = Astro.props;
---

<div class="max-w-7xl mx-auto">
  <h1 class="text-primary-800 dark:text-white text-xl md:text-3xl font-black mb-6">
    Informasi Penting
  </h1>
  <div class="PinnedInfos relative w-full max-w-full h-100 overflow-x-hidden">
    <div class="Track absolute inset-0 flex gap-4 px-4 lg:px-0">
      {props.items.map(it => (
        <PinnedInfo
          pinnedInfoProps={it.pinnedInfoProps}
          image={it.image}
          url={it.url}
          title={it.title}
          date={it.date}
          creator={it.creator}
        />
      ))}
      {props.items.map(it => (
        <PinnedInfo
          pinnedInfoProps={it.pinnedInfoProps}
          image={it.image}
          url={it.url}
          title={it.title}
          date={it.date}
          creator={it.creator}
        />
      ))}
      {props.items.map(it => (
        <PinnedInfo
          pinnedInfoProps={it.pinnedInfoProps}
          image={it.image}
          url={it.url}
          title={it.title}
          date={it.date}
          creator={it.creator}
        />
      ))}

    </div>

  </div>
</div>

<style>
  @keyframes marquee {
		from { transform: translateX(0); }
		to { transform: translateX(-50%); }
	}

	.Track {
		will-change: transform;
		animation: marquee 18s linear infinite;
	}
</style>