---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { Icon } from 'astro-icon/components';
import { getLatestBeritaItems } from "../services/berita";
import { getLatestPengumumanItems } from "../services/pengumuman";
import ListingSnapshot from "../components/ListingSnapshot.astro";
import PengumumanSideItem from "../components/PengumumanSideItem.astro";
import BeritaSideItem from "../components/BeritaSideItem.astro";

type Props = CollectionEntry<'berita'>['data'];

const { title, date, coverImage } = Astro.props;

const pengumuman = await getLatestPengumumanItems(4);
const berita = await getLatestBeritaItems(4);
---

<html lang="en">
	<head>
		<BaseHead title={title} description={title} />
	</head>

	<body class="bg-neutral-100">
		<Header />
		<div class="bg-primary-800 text-white mt-20 md:mt-0">
			<div class="Container px-4 md:px-0 py-12 md:py-24">
				<div class="flex gap-2 items-center">
					<a href="/" class="underline">Home</a>
					<Icon name="chevron-right" class="size-6 text-neutral-500" />
					<a href="/" class="underline">Berita</a>
					<Icon name="chevron-right" class="size-6 text-neutral-500" />
					<span class="truncate">{title}</span>
				</div>
		
				<h1 class="font-mono text-accent-100 font-bold text-xl md:text-3xl lg:text-4xl">{title}</h1>
			</div>
		</div>
		<div class="Container px-4 md:px-0 my-8 mt-20 md:mt-8 mb-32 space-y-8">
			

			<div class="flex flex-col md:flex-row gap-32 md:gap-8 lg:gap-12">
				<main class="w-full md:w-4/6 space-y-8 bg-white border border-neutral-300">
					
					<div class="w-full">
						{coverImage && <Image src={coverImage} class="object-cover w-full h-[400px]" alt="" />}
					</div>
	
					<article class="px-4 pb-8">
						<div class="prose max-w-none">
							<div class="title">
								<div class="date">
									<FormattedDate date={date} />
								</div>
								<div class="flex gap-4">
									<div>Ditulis Oleh: </div>
									<div class="font-bold">
										Admin BKD
									</div>
								</div>
								<hr />
							</div>
							<slot />
						</div>
					</article>
				</main>
				<div class="w-full md:w-2/6 ">

					<div class="space-y-10 sticky top-4">
						<!-- Kilasan Pengumuman -->
						<div class="space-y-6 bg-white border border-neutral-300 py-4 px-4">
							<div class="border-l-4 border-accent-400 pl-2 font-bold text-lg">Kilasan Pengumuman</div>
	
							<div class="grid grid-cols-1 gap-4">
								{
									pengumuman.items.map((item) => (
										<PengumumanSideItem
											date={item.date}
											id={item.id.toString()}
											title={item.title}
											creator={item.creator}
										/>
									))
								}
							</div>
							<div class="flex items-center justify-center">
								<a
									href="/pengumuman/1"
									class="px-6 py-2 bg-transparent border border-neutral-300 text-lg font-bold hover:shadow-lg dark:text-white"
									>Lihat Selengkapnya</a
								>
							</div>
						</div>
	
						<!-- Kilasan Berita -->
						<div class="space-y-6 bg-white border border-neutral-300 py-4 px-4">
							<div class="border-l-4 border-accent-400 pl-2 font-bold text-lg">Kilasan Berita</div>
	
							<div class="grid grid-cols-1 gap-4">
								{
									berita.items.map((item) => (
										<BeritaSideItem
											date={item.date}
											id={item.id.toString()}
											title={item.title}
											creator={item.creator}
											image={item.image}
										/>
									))
								}
							</div>
							<div class="flex items-center justify-center">
								<a
									href="/berita/1"
									class="px-6 py-2 bg-transparent border border-neutral-300 text-lg font-bold hover:shadow-lg dark:text-white"
									>Lihat Selengkapnya</a
								>
							</div>
						</div>
					</div>


	
				</div>
			</div>
		</div>
		<Footer />
	</body>
</html>